/*sectionIntro*/
.shot-i1 {
  background-image: url('../img/education-link-crm.jpg');
}
.shot-i2 {
  background-image: url('../img/education-link-insurance.jpg');
}
.shot-i3 {
  background-image: url('../img/education-link-course-search-quote.jpg');
}
/*sectionIntro end*/

/*counters*/
.counters-img {

}
/*counters end*/
